body{
    text-align: center;        
}
div{
    border-radius: 10px;    
}

p{
    margin: 0px;
}

h2{
    font-weight: bold;
}

.left{
    float: left;
    position: relative;
    width: 60%;
    padding: 5px;
}

.right{
    background-color: beige;
    text-align: center;
    float: left;
    position: relative;
    width: 40%;  
    padding: 5px;  
}

.legendTitle{
    font-size: 15px;
    font-weight: bold;
}
.legendAxis{
    font-size: 9px;
}