body{
    text-align: center;    
}

.left{
    float: left;
    position: relative;
    width: 60%;
    padding: 5px;
}

.right{
    text-align: center;
    float: left;
    position: relative;
    width: 40%;  
    padding: 5px;  
}

.legendTitle{
    font-size: 15px;
    font-weight: bold;
}
.legendAxis{
    font-size: 9px;
}